
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.content-wrapper {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    padding: 0 100px;
}

.dark {
    background-color: #1f2937;
}

.grey {
    background-color: #E5E7EB;
}

.light {
    background-color: #f9faf8;
}

.top {
    background-color: #1f2937;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links, .greeting-secondary-text {
    font-size: 18px;
    color: #E5E7EB
}

.greeting {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;   
    margin: 50px 0;
}

.greeting-text-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.greeting-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-content {
    box-sizing: border-box;
}

.main-content-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.main-image-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    max-width: 200px;
}

.quote {
    box-sizing: border-box;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0 100px;
}

.quote-name {
    font-weight: bold;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.footer {
    background-color: #1f2937;
}


.blue {
    box-sizing: border-box;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cta-main-content {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.cta-header {
    font-weight: bold;
}

.cta-button {
    border: 2px solid white;
}

.footer-text {
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


